<form action="../Controller/process2.php" method="post">
    <div>Please name of the shops you are looking for:</div>
    <input type='text' name='shop' placeholder='Enter shop name' />
    <div>And / Or choose the type of the place needed:</div>
    <select name="type">
        <?php
                $types = array( "accounting", "airport", "amusement_park", "aquarium", "art_gallery", "atm", "bakery", "bank", "bar", "beauty_salon",
                    "bicycle_store", "book_store", "bowling_alley", "bus_station", "cafe", "campground", "car_dealer", "car_rental",
                    "car_repair", "car_wash", "casino", "cemetery", "church", "city_hall", "clothing_store", "convenience_store", "courthouse",
                    "dentist", "department_store", "doctor", "electrician", "electronics_store", "embassy", "establishment", "finance",
                    "fire_station", "florist", "food", "funeral_home", "furniture_store", "gas_station", "general_contractor", "grocery_or_supermarket",
                    "gym", "hair_care", "hardware_store", "health", "hindu_temple", "home_goods_store", "hospital", "insurance_agency",
                    "jewelry_store", "laundry", "lawyer", "library", "liquor_store", "local_government_office", "locksmith", "lodging",
                    "meal_delivery", "meal_takeaway", "mosque", "movie_rental", "movie_theater", "moving_company", "museum", "night_club",
                    "painter", "park", "parking", "pet_store", "pharmacy", "physiotherapist", "place_of_worship", "plumber", "police",
                    "post_office", "real_estate_agency", "restaurant", "roofing_contractor", "rv_park", "school", "shoe_store", "shopping_mall",
                    "spa", " stadium", "storage", "store", "subway_station", "synagogue", "taxi_stand", "train_station", "travel_agency", "university",
                    "veterinary_care", "zoo" );
                foreach ($types as $type){
                    ?>
        <option value="<?php echo $type?>"><?php echo $type?></option>
        <?php
                }
                ?>
    </select>

    <div>Select radius of search: <span style="color: red">*</span></div>
    <input type="radio" name="radius" value="2000" checked> 2 km
    <input type="radio" name="radius" value="5000"> 5 km
    <input type="radio" name="radius" value="10000"> 10 km
    <input type="radio" name="radius" value="20000"> 20 km
    <input type="radio" name="radius" value="30000"> 30 km
    <input type="radio" name="radius" value="50000"> 50 km


    <input type="hidden" name="latitude" value="<?php echo $latitude?>">
    <input type="hidden" name="longtitude" value="<?php echo $longitude?>">


    <input type='submit' value='Search' />
</form>